// App creator - style
.o_web_studio_app_creator {
  @include o-web-studio-app-creator-background;
  --border-color: #{$o-web-studio-app-creator-border};

  .o_web_studio_app_creator_box {
    box-shadow: 0 16px 13px -8px rgba(#000, 0.5);
    width: 700px;

    .o_web_studio_app_creator_left,
    .o_web_studio_app_creator_right {
      min-height: 350px;
    }

    .o_web_studio_app_creator_left {

      h1 {
        font-size: 3.5em;
        letter-spacing: -1px;
      }
    }

    .o_web_studio_app_creator_right {
      background-color: $o-web-studio-bg-dark;

      .o_web_studio_welcome_image {
        width: $o-home-menu-app-icon-max-width * 2;
        aspect-ratio: 1;
        border-radius: $o-border-radius-lg * 2;
        padding: $o-home-menu-app-icon-padding * 2;
        background-color: var(--AppSwitcherIcon-background, #{$o-home-menu-app-icon-background-color});
        box-shadow: 0 7px 16px -5px #000;
      }
    }

    .o_web_studio_app_creator_next {
      &.is_ready {
        transition: all 0.3s ease 0s;

        &:hover,
        &:focus {
          background-color: lighten($o-brand-primary, 2%);
        }
      }
    }

    .o_input {
      border-color: $o-web-studio-text-inactive;

      &:focus-within {
        border-color: $o-action;
      }
    }
  }
}
