.account-return-selection-badge-dropdown-item {
    min-height: 27px;
}

.o_account_return_selection_badge_button {
    min-width: 10ch;
}

.o_account_return_selection_badge_button_small {
    font-size: 0.8em;
    padding: 2px 5px;
}
