// = Search Panel
// ============================================================================
// No CSS hacks, variables overrides only

.o_search_panel_section {
    .o_bottom_sheet & .list-group {
        --#{$prefix}list-group-active-bg: #{$o-gray-400};
    }
}
