.o_bank_reconciliation_container {
    padding: 0;
    font-size: $o-font-size-base;
    overflow: hidden;

    .user-select-text {
        user-select: text;
    }

    .o_bank_rec_widget_chatter_container {
        overflow: auto;
    }

    .o_bank_reconciliation_kanban_renderer {
        --Kanban-padding: 0;

        overflow: auto;

        .o_statement_line {
            border-left: calc(#{$border-width} * 4) solid transparent;

            .o_grid_container {
                display: grid;
                grid-template-columns: 130px minmax(70px, auto) 110px;
                gap: map-get($spacers, 1);

                .o_row {
                    display: contents;

                    .activity-container {
                        position: relative;
                    }

                    .activity-badge {
                        margin-right: -.5em;
                        padding: ($o-navbar-badge-padding * .5) $o-navbar-badge-padding;
                        background-color: var(--o-navbar-badge-bg, #{$o-navbar-badge-bg});
                        font-size: $o-navbar-badge-size;
                        color: var(--o-navbar-badge-color, $o-navbar-badge-color);
                        text-shadow: var(--o-navbar-badge-text-shadow, #{$o-navbar-badge-text-shadow});
                        transform: translate(-0.6em, -30%);
                    }

                    .o_payment_ref {
                        grid-column: 1 / 4;

                        span > span:last-child {
                            font-size: 13px;
                        }

                        .oi-close {
                            font-size: 0.85em;
                        }
                    }

                    .o_line_name {
                        grid-column: 1 / 3;
                    }

                    .o_line_amount {
                        grid-column: 3 / 4;
                    }

                    .o_bg-black-10 {
                        background-color: RGBA(0, 0, 0, 0.1) !important;
                    }
                }
            }

            .o_button_line {
                grid-column: 1 / 3;

                button {
                    min-width: 0;
                    max-width: 200px;
                }
            }

            .o_chatter_icon {
                visibility: hidden;
            }

            &:hover .o_chatter_icon {
                visibility: visible;
            }

            &.o_selected_statement_line {
                border-color: $primary;
            }
        }

        .o_bank_reconciliation_quick_create .o_quick_create {
            --columns: 1;
            --gap: #{map-get($spacers, 3)};

            @include media-breakpoint-up(md) {
                grid-template-columns: 7rem 2fr 1fr 1fr;
            }
        }
    }
}


.o_bank_reconciliation_container {
    .o_kanban_record:not(.o_kanban_ghost) {
        --KanbanRecord-padding-v: 0;
        --KanbanRecord-padding-h: 0;
    }

    @include media-breakpoint-up(md) {
        .o_bank_reconciliation_kanban_renderer {
            .o_statement_line .o_grid_container {
                grid-template-columns: 90px 3fr 1fr 1fr 40px;
                column-gap: map-get($spacers, 3);
                row-gap: map-get($spacers, 2);
                line-height: 24px;

                .o_row {
                    .o_line_name {
                        grid-column: 2 / 3;
                    }

                    .o_payment_ref {
                        grid-column: 2 / 3;
                    }

                    .o_line_amount {
                        grid-column: 4 / 5;
                    }

                    .o_line_to_reconcile_button {
                        grid-column: 5 / 6;
                    }

                    .o_button_line {
                        gap: map-get($spacers, 1);
                        align-items: center;

                        grid-column: 3 / 4;

                        button {
                            max-width: 100%;
                        }
                    }
                }
            }

            .o_statement_btn {
                transform: translate(map-get($spacers, 3) * -1, -50%);
                padding: map-get($spacers, 1) * 0.5 map-get($spacers, 2);
                opacity: 0;
            }

            .o_kanban_record:not(.o_kanban_ghost) {
                border: 0;
                border-bottom: $border-width solid $border-color;
                margin: 0;
                width: 100%;

                &:hover {
                    .o_statement_btn {
                        opacity: 1;
                    }
                }
            }
        }
    }

    &:where(:has(.o_bank_rec_widget_chatter_container)) {
        .o_kanban_record:focus, .o_kanban_record:has(.o_selected_statement_line) {
            outline: none;
            box-shadow: inset 0 0 0 $border-width $primary;
        }
    }
}
