body:has(.o_spreadsheet_action) {
    height: 100dvh;
    width: 100dvw;
}

.o_dashboard_edit_action {
    position: relative;
    display: flex;
    flex-flow: column;
    height: 100% !important;
    width: 100% !important;

    ol.breadcrumb {
        margin-top: 2px;
    }
}
