/* Override popover looks as spreadsheet doesn't support dark mode yet */
.o_spreadsheet_pivot_field_selector {
    /* For light scroll bar */
    color-scheme: light;

    &.popover {
        --popover-bg: #ffffff;
        --popover-border-color: #d8dadd;
        --border-color: #d8dadd;
    }

    .text-dark {
        color: #111827 !important;
    }

    .btn-light {
        --btn-color: #111827;
        --btn-bg: #FFF;
        --btn-active-color: #000;
        --btn-active-bg: #e6f2f3;
        --btn-active-border-color: #017e84;
        --btn-hover-color: #000;
        --btn-hover-bg: #e7e9ed;
        --btn-hover-border-color: #e7e9ed;
        --btn-focus-shadow-rgb: 219, 220, 223;
        --btn-disabled-color: #000;
        --btn-disabled-bg: #FFF;
        --btn-disabled-border-color: #FFF;
    }

    .o_model_field_selector_popover .o_model_field_selector_popover_body .o_model_field_selector_popover_page>.o_model_field_selector_popover_item {
        background: #F9FAFB;

        &.active button {
            background: rgba(0, 0, 0, 0.08);
        }
    }

    .bg-view {
        --background-color: #fff;
    }
}
