body:has(.o_spreadsheet_action) {
    height: 100dvh;
    width: 100dvw;
}

.o_spreadsheet_action {
    position: relative;
    display: flex;
    flex-flow: column;

    height: 100% !important;
    width: 100% !important;
}


.o_spreadsheet_user {
    img {
        border: 0.15rem solid;
        box-sizing: content-box;
        height: 1.2rem;
        width: 1.2rem;
    }
}

.o_spreadsheet_more_users {
    box-sizing: content-box;
    height: 1.45rem;
    width: 1.45rem;
    background-color: lightgrey;
    border-radius: 0.25rem;
    text-align: center;
}

.o_spreadsheet_status {
    display: inline-block;
    font-size: small;
    padding-right: 0.4rem;
}

.o-spreadsheet .o-popover {
    background-color: #ffffff !important;
}
