.o_text_cfdi {
    color: #3F3F51;
    padding: 0;
    word-break: break-all;
    text-align: justify;
}

.o_table_cfdi_info, .o_table_cfdi_concepts, .o_table_cfdi_complement {
    margin: 0;

    th, td {
        @extend .o_text_cfdi;
    }
}

.o_table_cfdi_info > thead > tr > th {
    background-color: #E0E0E6;
    border-radius: 8px;
    padding: 6px 10px;
    font-weight: bold;
    font-size: 12px;
}

.o_table_cfdi_info > tbody > tr > td {
    padding: 8px 10px;
    font-size: 12px;
}

.o_table_cfdi_concepts > thead > tr > th {
    padding: 5px 10px;
    border-bottom: thin solid #3F3F51;
    font-size: 10px;
}

.o_table_cfdi_concepts > tbody > tr > td {
    padding: 5px 10px;
    font-size: 10px;
}

.o_table_cfdi_concepts > tbody > tr {
    border-bottom: thin solid #E0E0E6;

    &:last-child {
        border-bottom: none;
    }
}

.o_table_cfdi_complement > thead > tr > th {
    background-color: #E0E0E6;
    border-radius: 4px;
    padding: 2px 5px;
    font-size: 10px;
}

.o_table_cfdi_complement > tbody > tr > td {
    padding: 2px 0;
    font-size: 10px;
}

.o_title_cfdi {
    background-color: #714B67;
    border-radius: 8px;
    padding: 6px 10px;
    font-weight: bold;
    font-size: 18px;
    color: #FFFFFF;
}
