.o_list_renderer .o_ai_agent_reprocess_btn {
    display: inline-flex;
    align-items: center;
}

.o_list_renderer .o_ai_agent_reprocess_btn .o_button_icon {
    order: 2;
    margin-left: 0.25rem;
    margin-right: 0;
}

.o_list_renderer .o_ai_agent_reprocess_btn span {
    order: 1;
}

